In [ ]:
###

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("pokemon.csv")

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# Distribution of Pokemon Types

df['Type 1'].value_counts().plot(kind='pie', autopct='%1.1f%%', cmap='tab20c', figsize=(10, 8))

In [ ]:
# Distribution of Pokemon Totals
df['Total'].plot(kind='hist', figsize=(10, 8))

In [ ]:
# 
df['Total'].plot(kind='box', vert=False, figsize=(10, 5))

In [ ]:
# Dist of Legendary Pokemon
df['Legendary'].value_counts().plot(kind='pie', autopct='%1.1f%%', cmap='Set3', figsize=(10, 8))

# Basic Filtering

### 1. How many Pokemons exist with an Attack value greater than 150?

In [ ]:
sns.boxplot(data=df, x='Attack')

In [ ]:
df.loc[df['Attack'] > 150]

In [ ]:
# Try your code here
df.loc[df['Attack'] > 150].shape

### 2. Select all pokemons with a Speed of 10 or less

In [ ]:
df.loc[df['Speed'] <= 10]

### 3. How many Pokemons have a Sp. Def value of 25 or less?

In [ ]:
df.loc[df['Sp. Def'] <= 25].shape

In [10]:
(df['Sp. Def'] <= 25).sum()

18

### 4. Select all the legendary pokemons

In [ ]:
legendary_df = df.loc[df['Legendary'] == True]
legendary_df

### 5. Find the outlier

Take a look at the scatterplot that correlates pokemons Attack and Defense. What's the Name of the pokemon that is a clear outlier (strong Defense, but very low Attack).

In [ ]:
ax = sns.scatterplot(data=df, x="Defense", y="Attack")
ax.annotate(
    "Who's this guy?", xy=(228, 10), xytext=(150, 10), color='red',
    arrowprops=dict(arrowstyle="->", color='red')
)

In [ ]:
df.loc[(df['Attack'] < 25) & (df['Defense'] > 200)]

In [3]:
# sort elements so that items 
# with highest defense and lowest attack show up first
df.sort_values(by=['Defense','Attack'], ascending=[False, True]).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True

#### 6. How many Fire-Flying Pokemons are there?

In [13]:
df.loc[(df['Type 1'] == 'Fire') & (df['Type 2'] == 'Flying')].shape

(6, 13)

In [16]:
(df['Type 1'] == 'Fire').sum()

52

In [17]:
(df['Type 2'] == 'Flying').sum()

97

In [19]:
((df['Type 1'] == 'Fire') & (df['Type 2'] == 'Flying')).sum()

6

#### How many 'Poison' pokemons are across both types?

In [4]:
((df['Type 1'] == 'Poison') | (df['Type 2'] == 'Poison')).sum()

62

#### 8. Name the pokemon of Type 1 Ice which has the strongest defense?

In [6]:
highest_ice_def = df.loc[df['Type 1'] == 'Ice','Defense'].max()
highest_ice_def

184

In [8]:
df.loc[(df['Type 1'] == 'Ice') & (df['Defense'] == highest_ice_def)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False